.form-container {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  margin-top: 20px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.form-field {
  /* margin-left: 5px; */
}

.form-button {
  max-width: 145px;
}
