.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.form-row {
  margin-top: 20px !important;
}

.form-field {
  width: 100%;
}

.form-button {
  max-width: 145px;
}

.color-change {
  background-color: red !important;
  animation-name: ombre;
  animation-duration: 15s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes ombre {
  8% {
    background-color: red;
  }
  25% {
    background-color: orange;
  }
  43% {
    background-color: yellow;
  }
  60% {
    background-color: green;
  }
  75% {
    background-color: blue;
  }
  90% {
    background-color: purple;
  }
  100% {
    background-color: red;
  }
}
